html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

/*body {
  margin-bottom: 60px;
}*/
.text-pink {
    color: #ff1448 !important;
}
.nav-link{
    letter-spacing:2px;
}
.carouselExampleSlidesOnly{
    height:500px;
}

.custom-carousel-inner {
height:22rem;
}
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

footer {
    background-color: #0d243d;
    width: 100vw;
    height: 100%;
    margin-top: auto;
}
.dishCard{
    height:270px;
}
header{
    z-index:1000;
}
.fa-instagram {
    color: #E1306C;
}
.fa-whatsapp {
    color: #25D366;
}
.fa-facebook {
    color: #4267B2;
}
.fa-envelope {
    color:orangered;
}
#recipe-list{
    top:5rem;
}
#recipe-list::-webkit-scrollbar{
    width:10px;
}
#recipe-list::-webkit-scrollbar-track{
    background-color:#ffffff;
}
#recipe-list::-webkit-scrollbar-thumb{
    background-color:#ff1448;
    border-radius:10px;
}
.recipe-item:hover{
    background-color:#0d243d;
    border-radius:10px;
}
.recipe-item:hover a{
    color:#ffffff !important;
}
#order-id{
    height: 230px;
}
.validation-summary-errors{
    color:#dc3545;
}
#qty{
    width:50px;
    border:none;
}
#qty:focus {
    outline:none;
}
#qtySection{
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.fa-plus, .fa-minus{
    cursor:pointer; 
}
#totalAmount, #price{
    width: 60px;
    border: none;
}
#totalAmount:focus, #price:focus{
    outline: none;
}
.addToCartIcon {
    cursor: pointer;
}
.textblack{
    background-color:#0d243d;
}
.addToCartIcon.textblack {
    background-color: #0d243d;
}
#showCartList{
    display:none;
    right:20px;
    width:400px
}
#cartListIcon:hover ~ #showCartList {
    display: block;
}
.cartListImg{
    width:100px;
    height:60px;
}
#showCartList:hover{
    display:block;
}
.cartImg{
    width:180px;
    height:100px;
}
.cartTitle{
    width:500px;
}
.emptyCart{
    font-size:300px;
}
.removeCartBtn{
    cursor:pointer;
}